idee-features
ign-features
mapama-features
pygeoapi
ineAPI
config.ini
diagrama.txt
debug.py
mappingPrueba.rml.ttl
output_prueba.ttl
pruebas.ipynb
tfm.txt
OGCmappingGenerator/.env
moprhgeo/mappings.txt
.vscode/*
.vscode